:root {
    interpolate-size: allow-keywords;
    --defaultFont:
        system-ui,
        -apple-system,
        'Segoe UI',
        Roboto,
        'PingFang SC',
        'Microsoft YaHei',
        sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--defaultFont);
    background: var(--bg);
    padding: 0;
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;

    --primary: #767988;
    --bg: #d8d8d8;
    --code-Main: #e24fb6;
    --code-Str: #a8a78e;
    --code-Sel: #eb5757;
    --code-Attr: #96af5a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 10px;
}

button {
    border: none;
    background: none;
    padding: 2px;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
}

a {
    color: unset;
    border-radius: 2px;
    user-select: none;
    text-decoration: none;
}

summary {
    display: block;
    padding-block: 2px;
    padding-inline: 4px;
    border-radius: 2px;
    width: fit-content;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

:is(button, a, summary) {
    box-shadow: 0 0 0 10px transparent;
}

:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
    background: #f47983;
    box-shadow: 0 0 0 2px rgba(255, 44, 79, 0.8);
    color: snow;
    transition: all 0.4s ease-out;
}

main {
    display: flex;
    flex-direction: column;
    margin-inline: 2rem;
    height: 100%;
    overflow: hidden;

    >header {
        color: snow;
        user-select: none;
    }
}

/* ================= 布局样式 ================= */
#font-list {
    display: flex;
    overflow: auto hidden;
    padding: 1rem;
    margin: 0 auto;
    gap: 2rem 1rem;
    scrollbar-gutter: stable;

    body.layout-list & {
        width: 520px;
        max-width: 100%;
        flex-direction: column;
        overflow: hidden auto;
    }
}

/* ================= 节点样式 ================= */
.font-card {
    position: relative;
    padding: 0.5em 1.5em 1em;
    border-radius: 4px;
    background: snow;
    color: #a1a8b4;
    box-shadow: 2px 2px 4px rgba(20, 20, 20, 0.8);
    font-family: var(--preview-font), var(--defaultFont);

    header {

        display: flex;
        align-items: center;

        h3 {
            margin: 0;
        }

        a {
            position: relative;
            margin-inline-start: -4px;
            padding-inline: 4px;
        }
    }

    body.layout-list & {
        display: flex;
        flex-direction: column;
        gap: 10px;

        header a {
            &::before {
                content: '';
                position: absolute;
                pointer-events: none;
                left: 100%;
                bottom: 4px;
                height: 4px;
                width: 80px;
                border-radius: 2px;
                background-image: linear-gradient(to right, transparent, currentColor);
                background-size: 0;
                background-repeat: no-repeat;
                opacity: 0;
                transition: 0.3s ease-out;
            }

            &:hover::before {
                background-size: 100%;
                opacity: 1;
            }
        }

        section {
            display: flex;
            align-items: center;
            gap: 10px;

            .preview-section {
                flex: 1 1 auto;
                height: 6rem;
                overflow-y: auto;
                scrollbar-gutter: stable;
            }

            .code-section {
                flex: 0 0 20%;
                display: flex;
                flex-direction: column;
                gap: 10px;
            }

            summary {
                font-family: var(--defaultFont);
                margin-left: auto;
                font-size: 0.8rem;
            }
        }
    }
}

/* 预览 */
.preview-section {
    font-size: 1rem;
    color: #444;
    white-space: pre-line;
    padding: 5px 10px;
    border: 1.99px dashed #ddd;
    border-radius: 2px;
    background: rgba(20, 20, 20, 0.02);
    line-height: 1.6;
}

/* ================= 代码折叠区 ================= */
/* --- 展示框 --- */
.code-section details {

    &::details-content {
        display: none;
        position: absolute;
        width: 75%;
        bottom: 50%;
        left: -0.5rem;
        background: #f7f6f5;
        border-radius: 1px;
        border: 1px solid #ddd;
        box-shadow: 0 0 0 4px snow;
        padding: 1rem;
        font-family: Consolas, monospace;
        font-size: 0.85rem;
        line-height: 1.4;
        z-index: 1;
        opacity: 0;
        transform: scale(0) translateX(50%);
        transform-origin: right bottom;
        transition:
            transform 0.6s cubic-bezier(0.16, 1, 0.3, 1),
            opacity 0.8s cubic-bezier(0.16, 1, 0.3, 1),
            display 1s allow-discrete,
            content-visibility 1s allow-discrete;
    }

    article:first-child &::details-content {
        bottom: unset;
        top: 50%;
        transform-origin: right top;
    }

    &:open::details-content {
        display: block;
        opacity: 1;
        transform: scale(1);

        @starting-style {
            opacity: 0;
            transform: scale(0) translateX(50%);
        }
    }
}

.code-content {
    color: var(--primary);
    white-space: pre-wrap;
    word-break: break-all;
}

/* 代码高亮 span */
.hl-k {
    color: var(--code-Main);
    font-weight: bold;
}

.hl-s {
    color: var(--code-Str);
}

.hl-t {
    color: var(--code-Sel);
}

.hl-p {
    color: var(--code-Attr);
}

/* --- 复制按钮 --- */
.copy-btn {
    display: inline-block;
    position: absolute;
    bottom: 0.3rem;
    right: 0.3rem;
    width: 28px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    &:focus-visible {
        background: none;
    }

    &:disabled {
        cursor: default;
    }

    svg {
        color: #96ce54;
        position: absolute;
        pointer-events: none;
        inset: 0;
        padding: 3px;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scale(0.5);
        transition: 0.4s ease-out;
    }

    lottie-player {
        position: absolute;
        inset: 0;
        filter: invert(50%);
        opacity: 0.4;
        transition: 0.3s;
    }

    &:hover lottie-player {
        filter: invert(53%) sepia(5%) saturate(3894%) hue-rotate(10deg) brightness(104%) contrast(92%);
        opacity: 0.8;
    }

    /* 气泡提示 */
    .tooltip {
        font-family: var(--defaultFont);
        position: absolute;
        top: 50%;
        right: 100%;
        background: linear-gradient(to right, #20202060, transparent);
        color: snow;
        font-size: 0.8rem;
        padding: 2px 6px;
        border-radius: 2px;
        white-space: nowrap;
        pointer-events: none;
        z-index: 1;
        opacity: 0;
        translate: 0 -50%;
        transform: translateX(50%);
    }

    /* 复制成功状态切换 */
    &.copied {

        svg {
            opacity: 1;
            transform: scale(1);
        }

        lottie-player {
            opacity: 0;
        }

        .tooltip {
            opacity: 1;
            transform: translateX(0);
            transition: 0.4s;
        }
    }
}