/**
 * -------------------------------------------------------------------
 * Font Family: 851tegakizatsu (851手書き雑フォント)
 * Original Author: 8:51:22 pm (pm85122)
 * Original Source: https://pm85122.onamae.jp/851fontpage.html
 * * Description:
 * This is a custom subset font containing ONLY Emoji characters
 * extracted from the original "851tegakizatsu" font for web optimization.
 * * Generated via: fonttools (pyftsubset) / cn-font-split
 * -------------------------------------------------------------------
 */

@font-face {
    font-family: "851emoji";
    src: local("851tegakizatsu"),
        url("./851-emojionly.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    unicode-range: U+2600-26FF, U+2700-27BF, U+1F300-1F6FF;
}